* {
    margin: 0;
    box-sizing: border-box;
}

nav.menu {
    background-color: #faebd7;
    padding: 25px;
}

ul.informacion {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Lobster', cursive;
    font-weight: 300;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #8b4513;
}

.introduccion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6rem 5rem;
    background-color: antiquewhite;
}

.nombre {
    justify-content: left;
    font-family: 'Chivo Mono', monospace;
    margin-top: 1rem;
}

h1 {
    font-weight: 400;
    font-size: 90px;
}

p.intro {
    font-size: 20px;
    font-weight: 300;
    margin: 0 4rem;
}

img.icono-intro {
    justify-content: center;
    align-items: center;
    width: 60%;
}

.linea {
    background-image: url(img/linea.png);
    width: 100%;
    padding: 3rem;
    background-color: antiquewhite;
}

.portafolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: space-evenly;
    padding: 5rem;
}

.box-portafolio img {
    width: 40%;
}

.sobre-mi {
    display: flex;
    flex-direction: row;
    padding: 2rem 5rem;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto-sobre-mi {
    text-align: justify;
    justify-content: center;
    font-weight: 300;
    font-size: 25px;
}

.sobre-mi img {
    width: 30%;
    padding-bottom: 2rem;
}

.iconos-peq {
    width: 30%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.box-contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    margin: 0 9rem;
    justify-content: space-evenly;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0px 5px 5px black;
    position: relative;
    top: 50px;
}

.item {
    align-items: center;
    text-align: center;
    padding: 2rem;
    color: white;
}

button {
    padding: 0.5rem 2rem;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 1.5rem;
    background-color: antiquewhite;
    border-radius: 20px;
}

.iconos-sociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding-top: 5rem;
    background-color: #faebd7;
}

.icon-social img {
    width: 30px;
    margin: 1rem;
}

.contacto-footer {
    position: relative;
    background-color: antiquewhite;
}










